{
  "extends": "@meteorjs/eslint-config-meteor",
  "globals": {
    "FlowRouter": false,
    "UserPresence": false,
    "SimpleSchema": false
  },
  "rules": {
    "react/prop-types": [
      2,
      {
        "ignore": [
          "children"
        ]
      }
    ]
  }
}