{
  "extends": "@meteorjs/eslint-config-meteor",
  "env": {
    "mocha": true
  },
  "globals": {
    "Meteor": false,
    "Mongo": false,
    "FlowRouter": false,
    "UserPresence": false,
    "SimpleSchema": false,
    "Factory": false
  },
  "rules": {
    "react/prop-types": [
      2,
      {
        "ignore": [
          "children"
        ]
      }
    ]
  }
}